@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

:root {
  --white: #ffffff;
  --light-grey: #efefef;
  --grey: #acacac;
  --primary: #1c1a24;
  --secondary: #0623c5;
  --dark: #090718;
}

body {
  background: var(--light-grey);
  color: var(--white);
  min-height: 100vh;
  overflow-y: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2.5rem;
  background: var(--light-grey);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1 {
  font-weight: normal;
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  white-space: nowrap;
}

.err-container h1 {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0.8rem;
  -webkit-box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
          box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
  border-radius: 0.3rem;
}

form {
  position: relative;
  height: 2.6rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

button {
  border: 0;
  background: 0;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  color: var(--secondary);
}

input {
  padding: 0 1rem;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.1rem;
  height: 100%;
  width: 330px;
  outline: 0;
  border: 0;
  border-radius: 0.2rem;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

input:focus {
  border-bottom-color: #80c0fc;
}

.menu i {
  font-size: 1.5rem;
  color: #51ebe3;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.weather-app {
  background: var(--light-grey);
  margin: 1.5rem 1rem;
  overflow: hidden;
  border-radius: 0.2rem;
  -webkit-box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
          box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #090718;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

.loading {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 5px solid var(--secondary);
  border-top-color: var(--white);
  border-bottom-color: var(--white);
  -webkit-animation: spinner 1s infinite;
          animation: spinner 1s infinite;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.alpha-code {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
  color: #eb1a47;
  background: var(--light-grey);
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

section {
  padding: 2rem 4rem;
}

.day-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  background: linear-gradient(10deg, #eb1a47, #ee1bcb);
  padding: 2rem 2.5rem;
  text-align: center;
  position: relative;
}

.day-details .condition {
  margin-top: 2rem;
  font-weight: normal;
  color: var(--white);
}

.day-details .day {
  font-weight: normal;
  font-size: 1rem;
  color: var(--primary);
  position: absolute;
  top: 0.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  background: var(--light-grey);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  border-radius: 0.2rem;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 2.5rem;
  position: relative;
}

.info-wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 1.2rem;
}

.info-wrapper .info span:nth-child(1) {
  margin-bottom: 0.5rem;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.info-wrapper .info span:nth-child(1) i {
  color: #51ebe3;
  font-size: 1.5rem;
}

.info-wrapper .info span {
  font-size: 0.8rem;
  white-space: nowrap;
  color: gray;
}

.info-wrapper .info h2 {
  font-size: 0.8rem;
  color: #1b021f;
  margin-top: 0.3rem;
}

span.icon {
  width: 10rem;
}

span.icon img {
  width: 100%;
  height: auto;
}

@media (max-width: 500px) {
  section {
    padding: 2rem 2rem;
  }
  .err-container h1 {
    max-width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */